<section id="committee" class="imp-committee">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">IMPERIAL COMMITTEE</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="www.linkedin.com/in/cynthia-fishman" target="_blank"><img src="{{ "/img/CYNTHIA.jpg" | prepend: site.baseurl }}" alt=""></a>
                    <h3>Cynthia Fishman</h3>
                    <p class="text-muted">Architect by day, super hero by night, saving the world one building at a time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.linkedin.com/in/ely-hemnes-47261a51/" target="_blank">
                        <img src="{{ "/img/ELY.jpg" | prepend: site.baseurl }}" alt="">
                    </a>
                    <h3>Ely Hemnes</h3>
                    <p class="text-muted">Curating creative excellence with local artisans as The Unfound Door.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.linkedin.com/in/sarah-barker-8959b721/" target="_blank">
                        <img src="{{ "/img/BARKER.jpg" | prepend: site.baseurl }}" alt="">
                    </a>
                    <h3>Sarah Barker</h3>
                    <p class="text-muted">Designing from the shadows, bringing concept to the light. She's a Barker not a biter, But she'll bark all night.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.linkedin.com/in/brian-nicholson-3455705/" target="_blank">
                        <img src="{{ "/img/NICHOLSON.jpg" | prepend: site.baseurl }}" alt="">
                    </a>
                    <h3>Brian Nicholson</h3>
                    <p class="text-muted">In a time when the environment is being trumped by politics.....sustainability matters and thus the rise of Treehugger Man!!!</p>
                </div>
            </div>
        </div>
    </div>
</section>
