
<section id="contact" name="contact" class="contact contact-us">
    <div class="container">
        <h2>STAY IN THE KNOW</h2>

         <ul class="list-inline list-social">
            <li class="social-facebook">
                <a href="https://www.facebook.com/DenverDoesDesign/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-newsletter">
                <a href="http://denverdoesdesign.us14.list-manage.com/subscribe?u=88717d9e6b9f2280f8cb1951b&id=a36b5cab96" target="_blank"><i class="fa fa-newspaper-o"></i></a>
            </li>
            <li class="social-twitter">
                <a href="https://twitter.com/denverdoesdsgn" target="_blank"><i class="fa fa-envelope"></i></a>
            </li>
            <li class="social-instagram">
                <a href="https://www.instagram.com/denverdoesdesign/" target="_blank"><i class="fa fa-camera"></i></a>
            </li>
        </ul> 
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2017 by <a rel="nofollow" target="blank" href="http://www.theunfounddoor.com">The Unfound Door</a>. All Rights Reserved.</p>
    </div>
</footer>
