
<section id="contact" class="contact contact-us">
    <div class="container">
        <h2>STAY IN THE KNOW</h2>

         <ul class="list-inline list-social">
            <li class="social-facebook">
                <a href="https://www.facebook.com/groups/981610665250352/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="https://instagram.com/denverdoesdesign" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="mailto:DenverDoesDesign@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </li>
        </ul> 
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2017 by <a rel="nofollow" target="blank" href="http://www.theunfounddoor.com">The Unfound Door</a>. All Rights Reserved.</p>
    </div>
</footer>
