
<section id="contact" name="contact" class="contact contact-us">
    <div class="container">
        <h2>STAY IN THE KNOW</h2>
        <h3>Contact us for more information at <a href="mailto:denverdoesdesign@gmail.com" target="_blank">denverdoesdesign@gmail.com</a></h3>

         <ul class="list-inline list-social">
            <li class="social-facebook">
                <a href="https://www.facebook.com/DenverDoesDesign/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-newsletter">
                <a href="http://mailchi.mp/50bdde74c0b8/meet-the-dark-side-event-and-more-504615" target="_blank"><i class="fa fa-newspaper-o"></i></a>
            </li>
            <li class="social-twitter">
                <a href="https://twitter.com/denverdoesdsgn" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-instagram">
                <a href="https://www.instagram.com/denverdoesdesign/" target="_blank"><i class="fa fa-camera"></i></a>
            </li>
            <li class="social-calendar">
                <a href="https://calendar.google.com/calendar/embed?src=1scrqh66t7oen3vnde8oslpinc%40group.calendar.google.com&ctz=America/Denver" target="_blank"><i class="fa fa-calendar"></i></a>
            </li>
        </ul> 
    </div>
</section>
<footer>
    <div class="container">
        <p>Carefully Crafted By <a rel="nofollow" target="blank" href="http://www.theunfounddoor.com">The Unfound Door</a> 2017. All Rights Reserved.</p>
    </div>
</footer>
