<section id="darkside" class="download bg-primary text-center  meet-dark-side">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">MEET THE DARK SIDE</h2>
                <p>Using the force…of networking. The Dark Side is the "other" professional organization and the Meet the Dark Side interdisciplinary networking event was created as a way to help introduce different professional organization members to one another in a casual and fun way. Food, drinks, and an ice breaker game are provided as a framework to help meet new people.  There is no pressure to meet the dark side, however our recommendation is, "Do. Or not do. There is no try."</p>
            </div>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <a href="#darkside" class="portfolio-box">
                    <img src="{{ "/img/portfolio/1.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MEET THE DARK SIDE
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ "/img/portfolio/2.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                May the Fourth 2017
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ "/img/portfolio/3.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PREVIOUS
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="{{ "/img/portfolio/4.jpg"  | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SOCIAL
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
