<section id="evolution" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="section-heading">
                    <h2>EVOLUTION OF DENVER DOES DESIGN</h2>
                </div>
                <p>Out of the ashes it grew… Well actually there were no ashes and really no fire to speak of, but Denver Does
                    Design evolved out of an appreciation of getting to know other design professionals that we wouldn’t
                    normally come in contact with. After four extremely successful years of organizing the Meet the Dark
                    Side networking event, our small group of volunteers believed the next stage was to help cross-pollinate
                    all the fantastic events our individual groups were already hosting. And from there the idea of Denver
                    Does Design was born.</p>
            </div>
        </div>
</section>
<div class="evolution">
    <img src="{{ "/img/CITY_SKYLINE.png" | prepend: site.baseurl }}" alt="">
</div>