<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="{{ "/img/logo_with_sky.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-5 logo-container">
                <h3>Denver does design logo goes here</h3>
                <h4>Subscribe button goes here</h4>
            </div>
        </div>
    </div>
</header>
