<header>
    <div class="text-container">
        <p>Denver Does Design is the single source for a cross-discipline calendar of design events happening in Denver.</p>
        <a class="btn btn-lg btn-orange" href="http://denverdoesdesign.us14.list-manage.com/subscribe?u=88717d9e6b9f2280f8cb1951b&id=a36b5cab96" target="_blank">Subscribe now</a>
    </div>
    <div class="logo-container">
        <img src="{{ "/img/logo_words.png" | prepend: site.baseurl }}" class="logo-img" alt=""></a>
    </div>
</header>
