<section id="darkside" class="download bg-primary text-center  meet-dark-side">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">MEET THE DARK SIDE</h2>
                
            </div>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ "/img/portfolio/1.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MEET THE DARK SIDE
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ "/img/portfolio/2.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CURRENT
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ "/img/portfolio/3.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PREVIOUS
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ "/img/portfolio/4.jpg"  | prepend: site.baseurl }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SOCIAL
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
