
    <section id="evolution" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>EVOLUTION OF DENVER DOES DESIGN</h2>
                        <p>This is where the history goes</p>
                        <hr>
                        <p>There is some more history down here</p>
                    </div>
                </div>
            </div>
    </section>
