<section id="committee" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TESTIMONIALS</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <p>"There were several students and younger designers from architecture firms that really did not understand what our discipline was and especially how we can benefit them. You could see the light go on in their heads as they began to understand and then they engaged us with questions and focused discussions followed."</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>"There was a great amount of people that showed up. Having people there from related industries that do not normally have a chance to meet was my favorite part of the event."</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>"I made connections with some of the sponsors who'll hopefully help sponsor education events that I'm in charge of coordinating. Also it was a great event to reconnect and deepen already made connections."</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>"I made several new connections with emerging professionals and got reacquainted with some old colleagues from the past. Great mixer!"</p>
            </div>
        </div>
    </div>
</section>
