$yellow: rgb(255,195,35);
$orange: rgb(217,97,1);
$blue: rgb(4, 101, 169);
$grey: rgb(123,111,93);
$black: rgb(0,0,0);
$white: #ffffff;

$screen-sm: 375px;
$screen-md: 720px;
$screen-lg: 1200px;
.hide-sm {
    @media screen and (max-width: $screen-md) {
        display: none;
    }
}

.btn-orange {
    background-color: $orange;
}


.logo-img {
    @media screen and (max-width: $screen-md) {
        width: 125px;
    } 
    @media screen and (min-width: $screen-md) {
        width: 200px
    }
    
}

header {
    position: relative;
    min-height: 667px;
    .logo-container {
        position: absolute;
        bottom: 0;
        @media screen and (max-width: $screen-md) {
            img {
                width: 100%;
            }
        }
        @media screen and (min-width: $screen-md) {
            left: 30%;
            img {
                width: 100%;
            }
        }
    }

    .text-container {
        position: absolute;
        p {
            color: $white;
            font-weight: bold;
        }
        @media screen and (max-width: $screen-md) {
            top: 10%;
            width: 95%;
            margin-left: 2.5%;
            p {
                font-size: 27px;
            }
            button {
                display: block;
                margin: auto;
                margin-top: 5%;
            }
        }
        @media screen and (min-width: $screen-md) {
            width: 40%;
            bottom: 30%;
            left: 5%;
            p {
                font-size: 34px;
            }
        }
    }

}

.vendor-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .logo {
        @media screen and (max-width: $screen-md) {
            width: 100px;
            padding: 3%;
        }
        @media screen and (min-width: $screen-md) {
            width: 250px;
            padding: 1%;
        }
    }
}


.meet-dark-side {
    background: $blue;

    .dark-sub {
        margin-top: 50px;
    }
    .portfolio-box-caption {
        img {
            width: 400px;
        }
    }
    
}

.imp-committee {
    background: $orange;
    p.text-muted {
        color: white;
    }

    .service-box {
        img {
            width: 100%;
        }
    }
}
.contact-us {
    background: $yellow;

    h3 {
        a {
            color: black;
        }
    }
}

footer {
    p {
        font-size: 20px;
    }
}
